<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout}">

<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" th:href="@{/css/w3.css}">
<link rel="stylesheet" th:href="@{/css/css.css}">
<link rel="stylesheet"
	href="https://fonts.googleapis.com/css?family=Raleway">
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="icon" type="image/x-icon" th:href="@{/img/favicon.ico}" />

<body>


	<div layout:fragment="content">

		<div class="w3-container w3-margin">
			<p>employees table</p>
			<input type="text" id="myInput" onkeyup="myFunction()"
				placeholder="Search for anything.." title="Type in a name">
		</div>
		<table class="w3-table-all">
			<tr class="w3-black w3-hover-teal">
				<td>id</td>
				<td>personId</td>
				<td>openDates</td>
				<td>price</td>
				<td>area</td>
				<td>rooms</td>
				<td>bathrooms</td>
				<td>address</td>
				<td>operations</td>
			</tr>
			<tr th:each="apartment:${apartmentListfromControllerAndDB}">
				<td th:text="${apartment.id}"></td>
				<td th:text="${apartment.personId}"></td>
				<td th:text="${apartment.openDates}"></td>
				<td th:text="${apartment.price}"></td>
				<td th:text="${apartment.area}"></td>
				<td th:text="${apartment.rooms}"></td>
				<td th:text="${apartment.bathrooms}"></td>
				<td th:text="${apartment.address}"></td>

				<td><a th:href="@{deleteApartment(id=${apartment.id})}"
					class="w3-button w3-red">Delete</a> <a
					th:href="@{detailApartment(id=${apartment.id})}"
					class="w3-button w3-teal">Detail</a> <a
					th:href="@{updateApartment(id=${apartment.id})}"
					class="w3-button w3-blue">Update</a></td>

			</tr>
		</table>
		<script>
			function myFunction() {
				var input, filter, table, tr, td, cell, i, j;
				input = document.getElementById("myInput");
				filter = input.value.toUpperCase();
				table = document.getElementById("myTable");
				tr = table.getElementsByTagName("tr");
				for (i = 1; i < tr.length; i++) {
					// Hide the row initially.
					tr[i].style.display = "none";

					td = tr[i].getElementsByTagName("td");
					for (var j = 0; j < td.length; j++) {
						cell = tr[i].getElementsByTagName("td")[j];
						if (cell) {
							if (cell.innerHTML.toUpperCase().indexOf(filter) > -1) {
								tr[i].style.display = "";
								break;
							}
						}
					}
				}
			}
		</script>
	</div>
</html>